@import '../../scss/fonts';

/*
Name: Tork Design Library
Version: 2.0
Company: Tork Inc.
Developer: Rs. Rimon
*/

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {  
  font-family: $primary-font;
  background-color: $global-bg-color;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

// Responsive images
.tork-img-fluid {
  max-width: 100%;
  height: auto;
}
